body {
    background-color: aquamarine;
}

.container{
    background-color: aliceblue;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
}

.nav {
    list-style:none;
    text-align: center;
}

.nav li {
    display:inline;
    margin-right: 20px;
}

.copy {
    text-align:center;
    background-color:blueviolet;
}

#span1 {
    color: red;
    font-family: 'Butcherman';font-size: 22px;
}

#span2 {
    font-size: 50px;
}